.modal{
  position:absolute;
  display:none;
  
  justify-content: center;
  top:0;
  left:0;

  width:100%;
  height:100%;

  background-color: rgba(0,0,0,0.4);
}

.modal-body{
  position:absolute;
  top:50%;


  width:400px;  
  height:450px; 

  padding:40px;  

  text-align: center;

  background-color: rgb(255,255,255); 
  border-radius:10px; 
  box-shadow:0 2px 3px 0 rgba(34,36,38,0.15); 

  transform:translateY(-50%); 
}

.modal .confirm-btn{
  background-color: #8DAEF5;
  color: white;
  height: 50px;
  width: 340px;
  border-radius: 5px;
  border:none;
  cursor: pointer;
  font-family: 'Pretendard-Bold';
  font-size: 0.95rem;
}

/* 로그인 모달 화면 관련 */
.modal-logo{
  font-size: 2rem;
  font-family: 'Pretendard-Bold';
  padding: 18px 20px;
  color:#8DAEF5;
}

#login-body{
  padding-top:20px;
  padding-bottom:10px;
}

#login-body input{
  width: 340px;
  height: 50px;
  margin-bottom:10px;
  background-color: #eeeeee;
  border: 0.2px solid #b3b3b3;
  border-radius: 5px;
  outline: none;
  padding: 10px 20px;
}

.modal-desc{
  color: #999999;
}

#signup-body{
  overflow-y: auto;
  max-height:300px; 
  height:400px; 
}

#signup-info{
  text-align: left;
  padding: 0 10px;

}

#signup-info input[type=text],input[type=email],input[type=password],input[type=date]{
  margin-top:5px;
  width: 340px;
  height: 40px;
  margin-bottom:10px;
  border: 0.2px solid #b3b3b3;
  border-radius: 5px;
  outline: none;
  padding: 10px 20px;
}


#password-valid{
  margin-top:0px;
}

.signup-label{
  margin-top:10px;
  color: #333333;
  font-weight: 700;
}

#password-desc{
  margin-top:5px;
  color:#b3b3b3;
  font-size: 13px;
}

#signup-body::-webkit-scrollbar{
  width: 5px;
}
#signup-body::-webkit-scrollbar-track {
  background-color: #eeeeee;
}
#signup-body::-webkit-scrollbar-thumb { 
  background-color: #8DAEF5;
}
#signup-body::-webkit-scrollbar-button {
  display: none;
}

#agreement p{
  display: grid;
  grid-template-columns: 0.3fr 3fr 1fr;
  font-size: 14px;
}

#agreement label, a{
  display: inline-block;
  vertical-align: top;
  padding-top: 2px;
}

#agreement #all{
  font-size:15px;
  color: #8DAEF5;
  font-weight: 800;
}

#signup-btn {
  font-weight: 700;
  font-size: large;
  color: #333333;
  cursor: pointer;
}

#signup-btn:hover{
  color:#8DAEF5 ;
}

#share-container{
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

#share-body{
  width: 420px;
  margin:0 auto;
  position: absolute;
  top: 50%;
  left:50%;
  -ms-transform: translateX(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#share-body p{
  font-size: 1.2rem;
  color: #8DAEF5;
  font-weight: 600;
  margin-bottom: 16px;
}

#share-body input[type=text]{
  text-align: center;
  width: 200px;
  height: 40px;
  border: 0.2px solid #b3b3b3;
  border-radius: 5px;
  outline: none;
  padding: 10px 20px;
}

#share-body button{
  background-color: #8DAEF5;
  color: white;
  height: 40px;
  width: 70px;
  border-radius: 5px;
  border:none;
  cursor: pointer;
  font-family: 'Pretendard-Bold';
  font-size: 0.95rem;
  margin-left: 10px;
}