@import "./reset.css";  
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: bold;
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family : 'Pretendard-Regular'
}

header{
  margin:0 auto;
  max-width: 1152px;
  height: 4.5rem;
}

header #logo{
  float: left;
  font-size: 2rem;
  font-family: 'Pretendard-Bold';
  padding: 18px 20px;
}

nav {
  float: right;
}

.nav-li{
  display: inline-block;
  padding: 30px 20px;
  font-family: 'Pretendard-Medium';
  font-size:1rem;
}

main{
  background-image: url(./assets/home-background.png);
  height: 584px;
  width: 100vw !important;
}